<ion-content>
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="./assets/illustrations/illustration-one.svg" />
        <h2>Welcome</h2>
        <p>
          lorem ipsum dolor sit amet, <b><ion-text color="primary">consectetur adipiscing elit</ion-text></b>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/illustrations/illustration-two.svg" />
      <h2>Sed do eiusmod tempor incididunt</h2>
      <p>
        <b><ion-text color="primary">Lorem ipsum dolor sit amet</ion-text></b>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/illustrations/illustration-three.svg" />
      <h2>Consectetur adipiscing elit</h2>
      <p>
        lorem ipsum dolor sit amet, <b><ion-text color="primary">consectetur adipiscing elit</ion-text></b>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </ion-slide>

    <ion-slide (click)="go()">
      <img src="./assets/illustrations/illustration-one.svg" />
      <h2>Ready ?</h2>
      <p>Tape the screen to start</p>
      <ion-button fill="clear" color="primary">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
