
<ion-content>
  <div class="header">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="arrow-back" (click)="goBack()" *ngIf="!hideContinueButton"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-progress-bar [value]="stepValue" color="primary" *ngIf="!hideContinueButton"></ion-progress-bar>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="close" (click)="close()" *ngIf="!hideContinueButton"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1 *ngIf="!hideContinueButton">
              {{selectedService}}
            </h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-slides #stepperSlider (ionSlideNextEnd)="updateSliderAndBarProgress()" (ionSlidePrevEnd)="updateSliderAndBarProgress()">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text class="simpleText">
              Give us a few details about you request
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-textarea class="customInput" placeholder="Details (optional)..."></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid style="margin-top: 20px;">
        <ion-row>
          <ion-col>
            <ion-text class="simpleText">
              Where shall the service be provided ?
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card (click)="openMap()">
              <ion-item lines="none">
                <ion-icon name="pin" slot="start" color="primary" size="small"></ion-icon>
                <ion-label>
                  <h2>Home</h2>
                  <p>1234 Main St, San Francisco, CA 94122</p>
                </ion-label>
                <ion-icon name="locate-outline" slot="end" color="medium" size="small"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text class="simpleText">
              When do you need the service ?
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-datetime locale="en-GB" color="primary" (ionChange)="updateDate($event)"></ion-datetime>
    </ion-slide>
    <ion-slide>
      <ion-img class="loading-img loading-img-1 show" src="../assets/illustrations/illustration-1.svg"></ion-img>
      <ion-img class="loading-img loading-img-2 hide" src="../assets/illustrations/illustration-2.svg"></ion-img>
      <ion-img class="loading-img loading-img-3 hide" src="../assets/illustrations/illustration-3.svg"></ion-img>
      <ion-spinner color="primary" name="crescent"></ion-spinner>
      <h5 class="loadingText" style="max-width: 80%;">We are creating your request...</h5>
    </ion-slide>
  </ion-slides>
  <ion-grid *ngIf="!hideContinueButton">
    <ion-row>
      <ion-col>
        <ion-button (click)="nextSlide()" expand="block" color="primary" class="bottomButton">Continue</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

