<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div id="bottomTab" [ngClass]="{'active': isActive}" class="animate__animated animate__slideInUp">
    <div id="button" (click)="startNewOrder()" class="spin">
      <ion-icon name="add-circle"></ion-icon>
    </div>
    <ion-grid>
      <ion-row >
        <ion-col (click)="navTo('home')" [ngClass]="{'active' : selected === 'home'}">
          <ion-icon [name]="selected === 'home' ? 'home' : 'home-outline'" [color]="selected === 'home' ? 'primary' : 'medium'"></ion-icon>
        </ion-col>
        <ion-col (click)="navTo('requests')" [ngClass]="{'active' : selected === 'requests'}">
          <ion-icon [name]="selected === 'requests' ? 'newspaper' : 'newspaper-outline'" [color]="selected === 'requests' ? 'primary' : 'medium'"></ion-icon>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col (click)="navTo('chat')" [ngClass]="{'active' : selected === 'chat'}">
          <ion-icon [name]="selected === 'chat' ? 'chatbubbles' : 'chatbubbles-outline'" [color]="selected === 'chat' ? 'primary' : 'medium'"></ion-icon>
        </ion-col>
        <ion-col (click)="navTo('profile')" [ngClass]="{'active' : selected === 'profile'}">
          <ion-icon [name]="selected === 'profile' ? 'person' : 'person-outline'" [color]="selected === 'profile' ? 'primary' : 'medium'"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="cache left"></div>
    <div class="cache right"></div>
    <div class="cache bottom"></div>
  </div>
  <div id="bottomTabShadow" [ngClass]="{'active': isActive}" class="animate__animated animate__slideInUp"></div>
</ion-app>
