#bottomTab {
  display: block;
  position: fixed;
  bottom: -150px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  z-index: 2;
  background-image: url("../assets/tab-bkg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 40px;
  transition: all 0.3s ease;
  &.active {
    bottom: 0px;
  }
  .cache {
    background-color: white;
    position: absolute;
    z-index: -1;
    &.left {
      left: 0;
      width: calc(50% - 40px);
      height: 100%;
    }
    &.right {
      right: 0;
      width: calc(50% - 40px);
      height: 100%;
    }
    &.bottom {
      bottom: 0;
      width: 100%;
      height: 25px;
    }
  }
  #button {
    width: 60px;
    height: 60px;
    font-size: 34px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    color: var(--ion-color-light);
    background-color: var(--ion-color-primary);
    position: absolute;
    left: calc(50% - 30px);
    top: -30px;
    z-index: 2;
    transition: all 0.3s ease;
    &:active {
      transform: scale(0.9);
    }
  }
  ion-grid {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    ion-row {
      height: 100%;
    }
    ion-col {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      position: relative;
      transition: all 0.3s ease;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -5px;
        width: 0%;
        height: 4px;
        background-color: var(--ion-color-primary);
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        transition: all 0.3s ease;
      }
      &.active {
        &:after {
          width: calc(100% - 20px);
          left: 0%;
          margin-left: 10px;
        }
      }
      ion-icon {
        text-align: center;
        margin: auto;
        font-size: 22px;
        color: var(--ion-color-medium);
        transition: all 0.3s ease;
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
#bottomTabShadow {
  position: fixed;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.82);
  z-index: 1;
  filter: blur(0rem);
  transition: all 0.3s ease;
  bottom: -60px;
  &.active {
    bottom: 0px;
    filter: blur(1.5rem);
  }
}
