<ion-content>
  <ion-grid class="nameHeader">
    <ion-row>
      <ion-col size="1" (click)="goBack()">
        <ion-icon name="chevron-back-outline" class="backIcon"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-text>
          <h1>
            {{selectedServices}}
          </h1>
        </ion-text>
      </ion-col>
      <ion-col size="3" (click)="goBack()">
        <ion-text color="primary" style="font-size: 18px; font-weight: 600; color: #EB003D;">
          Cancel
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="customInput">
          <input type="phone" placeholder="Search..."/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin-top: 20px;" class="listItem animate__animated animate__bounceInLeft">
    <ion-row>
      <ion-col style="padding: 0 10px;">
        <ion-item lines="none" (click)="setService('Home cleaning')">
          <ion-thumbnail slot="start" style="border-radius: 8px;">
            <img alt="" src="./assets/categories/home-cleaning.svg"  style="border-radius: 10px;"/>
          </ion-thumbnail>
          <ion-label>
            <h2>Home cleaning</h2>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin-top: 20px;" class="listItem animate__animated animate__bounceInLeft">
    <ion-row>
      <ion-col style="padding: 0 10px;">
        <ion-item lines="none" (click)="setService('Ironing')">
          <ion-thumbnail slot="start" style="border-radius: 8px;">
            <img alt="" src="./assets/categories/ironing.svg"  style="border-radius: 10px;"/>
          </ion-thumbnail>
          <ion-label>
            <h2>Ironing</h2>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin-top: 20px;" class="listItem animate__animated animate__bounceInLeft">
    <ion-row>
      <ion-col style="padding: 0 10px;">
        <ion-item lines="none" (click)="setService('Car washing')">
          <ion-thumbnail slot="start" style="border-radius: 8px;">
            <img alt="" src="./assets/categories/carwashing.svg"  style="border-radius: 10px;"/>
          </ion-thumbnail>
          <ion-label>
            <h2>Car washing</h2>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin-top: 20px;" class="listItem animate__animated animate__bounceInLeft">
    <ion-row>
      <ion-col style="padding: 0 10px;">
        <ion-item lines="none" (click)="setService('Carpets & sofa cleaning')">
          <ion-thumbnail slot="start" style="border-radius: 8px;">
            <img alt="" src="./assets/categories/carpet.svg"  style="border-radius: 10px;"/>
          </ion-thumbnail>
          <ion-label>
            <h2>Carpets & sofa cleaning</h2>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin-top: 20px;" class="listItem animate__animated animate__bounceInLeft">
    <ion-row>
      <ion-col style="padding: 0 10px;">
        <ion-item lines="none" (click)="setService('Window cleaning')">
          <ion-thumbnail slot="start" style="border-radius: 8px;">
            <img alt="" src="./assets/categories/window.svg"  style="border-radius: 10px;"/>
          </ion-thumbnail>
          <ion-label>
            <h2>Window cleaning</h2>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin-top: 20px;" class="listItem animate__animated animate__bounceInLeft">
    <ion-row>
      <ion-col style="padding: 0 10px;">
        <ion-item lines="none" (click)="setService('Other cleaning job')">
          <ion-thumbnail slot="start" style="border-radius: 8px;">
            <img alt="" src="./assets/categories/cleaning.svg"  style="border-radius: 10px;"/>
          </ion-thumbnail>
          <ion-label>
            <h2>Other cleaning job</h2>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
